<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>PokeMMO Bot</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="static/imgs/favicon.ico" type="image/x-icon">
    <script src="static/script.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="left-menu">
                <ul>
                    <li><a href="#" id="inicioBtn">Inicio</a></li>
                    <li><a href="#" id="descargarBtn">Descargar</a></li>
                    <li><a href="#" id="registrarseBtn">Registrarse</a></li>
                </ul>
            </div>
            <div class="right-menu">
                <ul>
                    <li><a href="#" id="discordBtn">Discord</a></li>
                    <li><a href="#" id="youtubeBtn">YouTube</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="contenido">
    </div>
</body>

</html>
